* {
    box-sizing: border-box;
  }

  body {
    background-color: #edf2f9;
  }

  .container {
    margin:  auto;
    padding: 16px ;
    background-color: #fcfcfc;
    position: relative;
    /* top: 30px; */
    /* height: 450px;  */
    width: 700px;
  }

  /* input fields */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    width: 100%;
    padding: 15px;
    display: block;
    background: #f1f1f1;
    margin: 5px 0 15px 0;
    border: none;
  }

  a {
    color: dodgerblue;
  }

  hr {
    margin-bottom: 25px;
  }
  
  select,
  input[type="date"],
  input[type="color"] {
    width: 200px;
    display: inline-block;
    padding: 5px;
    margin: 5px 0 25px 0;
  }
  .registerbtn {
    background-color:dodgerblue;
    color: white;
    width: 100%;
    padding: 16px 20px;
    border: none;
    margin: 15px 0;
    cursor: pointer;
  }

  .dob {
    padding-left: 80px;
  }

  .navbar {
     padding: 30px;
  }

  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }